$karry: rgb(255, 216, 194);
$mandys_pink: rgb(248, 188, 154);
$copper: rgb(217, 143, 102);
$bourbon: rgb(186, 108, 63);

$midnight_blue: rgb(31, 66, 107);
$wedgewood: rgb(73, 104, 142);
$hoki: rgb(106, 132, 163);
$rock_blue: rgb(147, 166, 189);

$summer_green: rgb(144, 189, 176);
$patina: rgb(101, 163, 146);
$lochinvar: rgb(67, 142, 121);
$blue_stone: rgb(24, 107, 84);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
