$karry: RGB(255, 216, 194);
$mandys_pink: RGB(248, 188, 154);
$copper: RGB(217, 143, 102);
$bourbon: RGB(186, 108, 63);

$midnight_blue: RGB(31, 66, 107);
$wedgewood: RGB(73, 104, 142);
$hoki: RGB(106, 132, 163);
$rock_blue: RGB(147, 166, 189);

$summer_green: RGB(144, 189, 176);
$patina: RGB(101, 163, 146);
$lochinvar: RGB(67, 142, 121);
$blue_stone: RGB(24, 107, 84);

$white: RGB(255, 255, 255);
$black: RGB(0, 0, 0);
